doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        if title || page.title
            title= title || page.title
        link(href='/assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='/style.css', rel='stylesheet', type='text/css')
    body
        .container.visible-xs
            .row
                .margin.col-xs-4.col-sm-2.col-xs-offset-4.col-sm-offset-0
                    a(href='/')
                        img.img-responsive(src='/assets/images/logo.png', alt='logo')
                .margin.col-xs-12.col-sm-9.col-sm-offset-1
                    block content
                .margin.col-xs-12.col-sm-9.col-sm-offset-1

        .container-fluid
            .row
                #map.col-xs-12

        .container.hidden-xs
            .row
                .margin.col-xs-4.col-sm-2.col-xs-offset-4.col-sm-offset-0
                    a(href='/')
                        img.img-responsive(src='/assets/images/logo.png', alt='logo')

                .margin.col-xs-12.col-sm-9.col-sm-offset-1
                    block content

        script(src='/assets/js/jquery-3.1.1.min.js', type='application/javascript')
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCLvF-XJHdyb1STAF38EukXHJpoNC_NwqU', type='application/javascript')
        script.
            $(function() {
                $(window).on('resize', function () {
                    $('#map').height($(window).height() / 3)
                }).resize()
            })

        block script
