doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        if title || page.title
            title= title || page.title
        link(href='/assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='/style.css', rel='stylesheet', type='text/css')
    body
        .container
            block body
        script(src='/assets/js/jquery-3.1.1.min.js', type='application/javascript')
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCLvF-XJHdyb1STAF38EukXHJpoNC_NwqU', type='application/javascript')
        block script
