extend /default


block script
    script.
        $(function() {
            var bounds = new google.maps.LatLngBounds()
            var infowindow = new google.maps.InfoWindow()
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: 59.4370,
                    lng: 24.7536
                },
                zoom: 11,
                scrollwheel: false,
                mapTypeControl: false,
                streetViewControl: false,
                rotateControl: false,
                styles: [
                    {
                        'featureType': 'poi.business',
                        'stylers': [
                            {
                                'visibility': 'off'
                            }
                        ]
                    },
                    {
                        'featureType': 'road',
                        'elementType': 'labels.icon',
                        'stylers': [
                            {
                                'visibility': 'off'
                            }
                        ]
                    },
                    {
                        'featureType': 'transit',
                        'stylers': [
                            {
                                'visibility': 'off'
                            }
                        ]
                    }
                ]
            })

            $('.list-item').each(function () {
                var position = $(this).data('geo')
                if (position) {
                    var info = '<p><a href="' + $(this).attr('href') + '"><strong>' + $(this).text() + '</strong></a></p><p>' + $(this).data('info') + '</p>'
                    var marker = new google.maps.Marker({
                        position: {
                            lat: parseFloat(position.split(',')[0]),
                            lng: parseFloat(position.split(',')[1]),
                        },
                        title: $(this).text(),
                        map: map
                    })

                    marker.addListener('click', function() {
                        infowindow.setContent(info)
                        infowindow.open(map, this)
                    })

                    bounds.extend(marker.getPosition())
                    map.fitBounds(bounds)
                }
            })
        })


block content
    .row
        each e in F.entities
            a.list-item.col-xs-12(href=e.properties.path.values[0].value + '/', data-geo=e.properties.geo.values[0].value, data-info=e.displayinfo)= e.displayname
