extend /default


block script
    script.
        $(function() {
            var mapToggle = function () {
                if(window.location.hash === '#map') {
                    $('#map-toggle').addClass('hidden')
                    $('#list-toggle').removeClass('hidden')
                    $('#map-view').removeClass('hidden')
                    $('#list-view').addClass('hidden')
                } else {
                    $('#map-toggle').removeClass('hidden')
                    $('#list-toggle').addClass('hidden')
                    $('#map-view').addClass('hidden')
                    $('#list-view').removeClass('hidden')
                }
            }

            mapToggle()

            $(window).on('hashchange', mapToggle)

            var map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: 59.4370,
                    lng: 24.7536
                },
                zoom: 11,
                mapTypeControl: false,
                streetViewControl: false,
                rotateControl: false,
                styles: [
                    {
                        'featureType': 'poi.business',
                        'stylers': [
                            {
                                'visibility': 'off'
                            }
                        ]
                    },
                    {
                        'featureType': 'road',
                        'elementType': 'labels.icon',
                        'stylers': [
                            {
                                'visibility': 'off'
                            }
                        ]
                    },
                    {
                        'featureType': 'transit',
                        'stylers': [
                            {
                                'visibility': 'off'
                            }
                        ]
                    }
                ]
            })

            var bounds = new google.maps.LatLngBounds()
            var infowindow = new google.maps.InfoWindow()

            $('.list-item').each(function () {
                var position = $(this).data('geo')
                if (position) {
                    var marker = new google.maps.Marker({
                        position: {
                            lat: parseFloat(position.split(',')[0]),
                            lng: parseFloat(position.split(',')[1]),
                        },
                        title: $(this).text(),
                        map: map
                    })

                    marker.addListener('click', function() {
                        infowindow.setContent($(this).text())
                        infowindow.open(map, this)
                    })

                    bounds.extend(marker.getPosition())
                    map.fitBounds(bounds)
                }
            })
        })


block body
    .row
        .col-xs-6.col-sm-2.col-xs-offset-3.col-sm-offset-5
            a(href='/')
                img.img-responsive(src='/assets/images/logo.png', alt='logo')
        .col-xs-3.text-right
            a#map-toggle.hidden.label.label-info(href='#map') kaart
            a#list-toggle.hidden.label.label-info(href='#list') nimekiri

    #list-view.row
        each e in F.entities
            a.list-item.col-xs-12.col-sm-10.col-md-8.col-sm-offset-1.col-md-offset-2(href=e.properties.path[0].value + '/', data-geo=e.properties.geo[0].value)= e.displayname

    #map-view.row
        #map.col-xs-12.col-sm-10.col-md-8.col-sm-offset-1.col-md-offset-2
