body
    font-size 16px

a
    color #003046

    &:hover
    &:active
    &:focus
        text-decoration none

h1
    font-size 24px
    line-height 30px
    color #003046

h2
    margin-top 30px
    font-size 16px
    line-height 20px
    color #003046

.margin
    margin-top 40px

.label-info
    background-color #c52934

    &:hover
    &:active
    &:focus
        background-color #c52934 !important

.list-item
    padding-top 10px
    padding-bottom 10px
    border-top 1px solid #d1d1d1

    &:first-child
        border-top none

#map-container
    position fixed
    top 0px
    left 0px
    right 0px
    z-index -100

#content
    background #ffffff
    border-top 1px solid #d1d1d1
    border-bottom 1px solid #d1d1d1

#image
    position fixed
    left 0px
    right 0px
    bottom 0px
    background-size cover
    background-position center center
    z-index -200
