body
    font-size 16px

a
    color #003046

    &:hover
    &:active
    &:focus
        text-decoration none

h1
    font-size 24px
    line-height 30px
    color #003046

.row
    padding-top 40px

.label-info
    background-color #C52934

    &:hover
    &:active
    &:focus
        background-color #C52934 !important

.item-list
    padding-top 10px
    padding-bottom 10px
    border-top 1px solid #D1D1D1

    &:first-child
        border-top none
