body
    font-size 16px

a
    color #003046

    &:hover
    &:active
    &:focus
        text-decoration none

h1
    font-size 24px
    line-height 30px
    color #003046

h2
    margin-bottom 0px
    font-size 16px
    line-height 16px
    color #003046

.margin
    margin-top 40px

.label-info
    background-color #C52934

    &:hover
    &:active
    &:focus
        background-color #C52934 !important

.list-item
    padding-top 10px
    padding-bottom 10px
    border-top 1px solid #D1D1D1

    &:first-child
        border-top none

#map
    height 400px
    border-bottom 1px solid #D1D1D1

@media (max-width: 768px)
    #map
        border-top 1px solid #D1D1D1
        border-bottom none
